In [40]:
'''Step 1. Import the necessary libraries
Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.'''
import numpy as np
import pandas as pd
chipo= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv','\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
#Step 4. See the first 10 entries.
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
#Step 5. What is the number of observations in the dataset?
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
#Step 6. What is the number of columns in the dataset?
print('No of rows=',chipo.shape[0])
print('No of columns=', chipo.shape[1])

No of rows= 4622
No of columns= 5

In [14]:
#Step 7. Print the name of all the columns.
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
#Step 8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [25]:
#Step 9. Which was the most-ordered item?
#Step 10. For the most-ordered item, how many items were ordered?
chipo.groupby('item_name').sum()['quantity'].sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [27]:
#Step 11. What was the most ordered item in the choice_description column?
chipo.groupby('choice_description').sum()['quantity'].sort_values(ascending=False)

choice_description
[Diet Coke]                                                                                                       159
[Coke]                                                                                                            143
[Sprite]                                                                                                           89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                             49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                      42
                                                                                                                 ...
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Pinto Beans, Cheese]]                                             1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Lettuce]]                                                         1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Cheese, Sour Cream, Lettuce]]                                     1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Cheese, Sour Cream, Guacamole, Lettuce, Rice]]                    1
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]      1
Name: quantity, Length: 1043, dtype: int64

In [29]:
#Step 12. How many items were orderd in total?
chipo.quantity.sum()

4972

In [41]:
#Step 13. Turn the item price into a float
#Step 13.a. Check the item price type
chipo['item_price'].dtype

dtype('O')

In [42]:
#Step 13.b. Create a lambda function and change the type of item price
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
print(chipo.item_price.dtype)

float64

In [58]:
#Step 14. How much was the revenue for the period in the dataset?
rev= (chipo['quantity'] * chipo['item_price']).sum()
print(rev)

39237.02

In [49]:
#Step 15. How many orders were made in the period?
orders= chipo['quantity'].sum()
orders

4972

In [62]:
#Step 16. What is the average revenue amount per order?
avg_rev= chipo.groupby('order_id').sum().mean()['item_price']
avg_rev

18.81142857142869

In [65]:
#Step 17. How many different items are sold?
items= chipo.groupby(['item_name', 'choice_description']).count()
items

                                                                      order_id  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                    21
                  [Diet Coke]                                               24
                  [Lemonade]                                                 2
                  [Nestea]                                                   2
                  [Sprite]                                                   5
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...         1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...         1
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...         1
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...         1

                                                                      quantity  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                    21
                  [Diet Coke]                                               24
                  [Lemonade]                                                 2
                  [Nestea]                                                   2
                  [Sprite]                                                   5
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...         1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...         1
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...         1
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...         1

                                                                      item_price
item_name         choice_description
6 Pack Soft Drink [Coke]                                                      21
                  [Diet Coke]                                                 24
                  [Lemonade]                                                   2
                  [Nestea]                                                     2
                  [Sprite]                                                     5
...                                                                          ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...           1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...           1
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...           1
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...           1
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...           1

[1859 rows x 3 columns]