In [2]:
def print_name(name):
    print('Name is=', name)

nam= input("Enter your name:")
print_name(nam)

Enter your name:Smiley
Name is= Smiley

In [11]:
ans= (lambda x:x**2)
print(ans(9))

item=[1,2,3,4,5,-1,-2]
sq= list(map(lambda x:x**2,item))
print(sq)

neg= list(filter(lambda x:x<0,item))
print(neg)

from functools import reduce
prod= reduce(lambda x,y:x*y,[1,2,3,4])
print(prod)

81
[1, 4, 9, 16, 25, 1, 4]
[-1, -2]
24

In [19]:
def info(name, age=30):
    print('name:',name,' age:',age)
info('ankita')
info('abc',age=24)
info(25,'abc

name: ankita  age: 30
name: abc  age: 24
name: 25  age: abc

In [6]:
class test():
    def color(self, col):
        self.col=col
    def show(self):
        print('color is',self.col)
test1=test()
test1.color('red')
test1.show()

color is red

In [2]:
#Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def func1(*arg):
    for i in arg:
        print(i)
func1(70,69,56)

70
69
56

In [3]:
'''Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
And also it must return both addition and subtraction in a single return call'''
def calculation(a,b):
    summ=a+b
    diff=a-b
    return(summ,diff)
calculation(6,8)

(14, -2)

In [4]:
'''Create a function showEmployee() in such a way that it should accept employee name,
and it’s salary and display both, and if the salary is missing in function call it should show it as 9000'''
def showEmployee(ename, esal=9000):
    print("Name=",ename,'Salary=',esal)
showEmployee('Ben',8000)
showEmployee('Cathy')

Name= Ben Salary= 8000
Name= Cathy Salary= 9000

In [9]:
'''Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it'''
def outerfunc(a,b):
    def innerfunc(a,b):
        print('Inside inner func: a=',a,', b=',b)
        return(a+b)
    add=innerfunc(a,b)
    print('Inside outer func: add=',add)
    return(add+5)

outerfunc(5,10)

Inside inner func: a= 5 , b= 10
Inside outer func: add= 15

20

In [11]:
def displayStudent(name, age):
    print(name, age)

displayStudent("Emma", 26)

showStudent = displayStudent
showStudent("show student= Emma", 26)

Emma 26
show student= Emma 26

In [12]:
def recursivefunc(num):
    if num:
        return (num+recursivefunc(num-1))
    else:
        return(0)
recursivefunc(10)

55

In [14]:
#Generate a Python list of all the even numbers between 4 to 30
# def listfunc():
#     l1=[]
#     for i in range(4,31):
#         if i%2==0:
#             l1.append(i)
#         else:
#             pass
#     return(l1)
# listfunc()

def listfunc():
    return(list(range(4,31,2)))
listfunc()

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [15]:
'''Return the largest item from the given list'''
aList = [4, 6, 8, 24, 12, 2]
print(max(aList))

24

# String Exercise

In [26]:
'''Given a string of odd length greater 7, return a string made of the middle three chars of a given String
Case 1:

str1 = "JhonDipPeta"
Expected Output:

Dip
Case 2:

str2 = "JaSonAy"
Expected Output:

Son'''

str1= input("Enter string:")
if len(str1)>=7:
    mid=round(len(str1)/2)-2
    word=str1[mid:mid+3]
print(word)

Enter string:JhonDipPeta
Dip

In [30]:
'''Given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1
s1 = "Ault"
s2 = "Kelly"
Expected Output:

AuKellylt'''
s1 = "Ault"
s2 = "Kelly"
mid= round(len(s1)/2)
s3= s1[:mid]+s2+s1[mid:]
print(s3)

AuKellylt

In [45]:
'''Arrange string characters such that lowercase letters should come first
str1 = PyNaTive
Expected Output:yaivePNT'''
str1= input("Enter string:")
lower=[]
upper=[]
for i in str1:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
newstr= ''.join(lower+upper)
print(newstr)

Enter string:PyNaTive
yaivePNT

In [47]:
#Count all lower case, upper case, digits, and special symbols from a given string
str=input("Enter string:")
cnt_lc=0
cnt_uc=0
cnt_dig=0
cnt_sym=0
for i in str:
    if i.islower():
        cnt_lc+=1
    elif i.isupper():
        cnt_uc+=1
    elif i.isdigit():
        cnt_dig+=1
    else:
        cnt_sym+=1
print('lower case=',cnt_lc)
print('upper case=', cnt_uc)
print('digits=', cnt_dig)
print('symbols=',cnt_sym)

Enter string:P@#yn26at^&i5ve
lower case= 7
upper case= 1
digits= 3
symbols= 4

In [65]:
'''Given two strings, s1 and s2, create a mixed String
s1 = "Abc"
s2 = "Xyz"
Expected Output: AzbycX'''
s1= input("Enter 1st string=")
s2= input("Enter 2nd string=")
new_str=''
reverse_s2= s2[::-1]
for i in s1:
    for j in reverse_s2:
        if s1.index(i)==reverse_s2.index(j):
            new_str= new_str+i+j
    
print(new_str)

Enter 1st string=abcd
Enter 2nd string=xyz
azbycx

In [2]:
'''We’ll say that a String s1 and s2 is balanced if all the chars in the s1 are there in s2. characters position doesn’t matter.

Case 1:

s1 = "Yn"
s2 = "PYnative"
Expected Output:

True
Case 2:

s1 = "Ynf"
s2 = "PYnative"
Expected Output:

False'''
s1= input("Enter string1=")
s2= input("Enter string2=")
if set(s1).issubset(set(s2)):
    print('Balanced')
else:
    print("Not Balanced")

Enter string1=yn
Enter string2=hjl
Not Balanced

In [14]:
''' Find all occurrences of “USA” in given string ignoring the case
Given:

str1 = "Welcome to USA. usa awesome, isn't it?"

Expected Outcome:

The USA count is: 2'''
import re
str1=input("Enter string:")
lower_str1=str1.lower()
count= lower_str1.count('usa')
print(count)

Enter string:Welcome to USA. usa awesome, isn't it?
2

In [13]:
'''Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters
Given:

str1 = "English = 78 Science = 83 Math = 68 History = 65"

Expected Outcome:

sum is 294
average is 73.5'''
import re
str1= input("Enter string=")
markList = [int(num) for num in re.findall(r'\d+', str1)]
sum= 0
for mark in markList:
    sum+=mark
print('Sum=', sum)
avg= sum/len(markList)
print('Average = ',avg)

Enter string=English = 78 Science = 83 Math = 68 History = 65
Sum= 294
Average =  73.5

In [18]:
'''Given an input string, count occurrences of all characters within a string
Given:

str1 = "Apple"

Expected Outcome:

{'A': 1, 'p': 2, 'l': 1, 'e': 1}'''
inp= input("Enter string=")
l1=[]
d1={}
for i in inp:
    l1.append(i)
print(l1)
for i in l1:
    cnt=l1.count(i)
    d1[i]=cnt
print(d1)

Enter string=mississippi
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [22]:
#Reverse a given string
st=input("Enter string=")
# rev=reversed(st)
# rev_st=''
# for i in rev:
#     rev_st+=i
# print(rev_st)
rev=st[::-1]
print(rev)

Enter string=apple
elppa

In [32]:
'''Find the last position of a substring “Emma” in a given string
Given:

str1 = "Emma is a data scientist who knows Python. Emma works at google."'''
str1 = "Emma is a data scientist who knows Python. Emma works at google."
emma=str1.rfind("Emma")
print(emma)

43

In [37]:
'''Split a given string on hyphens into several substrings and display each substring
Given:
str1 = Emma-is-a-data-scientist

Expected Output:

Displaying each substring

Emma
is
a
data
scientist'''
str1= "Emma-is-a-data-scientist"
st= str1.split('-')
print(st)
for i in st:
    print(i)

['Emma', 'is', 'a', 'data', 'scientist']
Emma
is
a
data
scientist

In [38]:
''' Remove empty strings from a list of strings
Expected Output:

Original list of sting
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']'''
org=['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']
st=list(filter(None,org))
print(st)

['Emma', 'Jon', 'Kelly', 'Eric']

In [44]:
'''Remove special symbols/Punctuation from a given string
Given:

str1 = "/*Jon is @developer & musician"
Expected Output:

“Jon is developer musician”'''
# str1 = "/*Jon is @developer & musician"
# new=''
# for i in str1:
#     if i.isalpha() or i.isspace():
#         new+=i
# print(new)

import re

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

str2 = re.sub(r'[^\w\s]', '', str1)
print("New string is ", str2)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [47]:
'''Removal all the characters other than integers from string
Given:

I am 25 years and 10 months old
Expected Output:

2510'''
import re

str1 = "I am 25 years and 10 months old"
print("Original string is ", str1)

str2 = re.sub(r'[^\d]', '', str1)
print("New string is ", str2)

Original string is  I am 25 years and 10 months old
New string is  2510

In [5]:
'''Find words with both alphabets and numbers
Given:

str1 = "Emma25 is Data scientist50 and AI Expert"

Expected Output:

Emma25
scientist50'''
str1 = "Emma25 is Data scientist50 and AI Expert"
split_str1= list(str1.split())
for each in split_str1:
    if each.isalpha() or each.isdigit():
        pass
    else:
        print(each)

Emma25
scientist50

In [15]:
import random
random.randfloat(20.5, 50.5)

AttributeError: module 'random' has no attribute 'randfloat'