In [3]:
#Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum
num1= int(input("Enter 1st Number:"))
num2= int(input("Enter 2nd Number:"))
prod= num1*num2
if prod>1000:
    print("As ",prod," is greater than 1000, sum is",num1+num2)
else:
    print("Product is ",prod)

Enter 1st Number: 1000
Enter 2nd Number: 34

As  34000  is greater than 1000, sum is 1034

In [5]:
#Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current
#number and previous number.
num_range1 = int(input("Enter Starting range: "))
num_range2 = int(input("Enter End range: "))
for i in range(num_range1,num_range2):
    if i==0:
        print("Current number 0 Previous number 0 Sum:0")
    else:
        print("Current Number ",i,' Previous number ',i-1,' Sum:',i+(i-1))

Enter Starting range:  0
Enter End range:  10

Current number 0 Previous number 0 Sum:0
Current Number  1  Previous number  0  Sum: 1
Current Number  2  Previous number  1  Sum: 3
Current Number  3  Previous number  2  Sum: 5
Current Number  4  Previous number  3  Sum: 7
Current Number  5  Previous number  4  Sum: 9
Current Number  6  Previous number  5  Sum: 11
Current Number  7  Previous number  6  Sum: 13
Current Number  8  Previous number  7  Sum: 15
Current Number  9  Previous number  8  Sum: 17

In [17]:
#Given a string, display only those characters which are present at an even index number.
str1= input("Enter string: ")
for i in range(0,len(str1),2):
    print(str1[i])

Enter string:  abcde

a
c
e

In [27]:
## Given a list of numbers, return True if first and last number of a list is same
list1=[10, 20, 30, 40, 10]
list2=[10, 20, 30, 40, 50]
if (list2[0]==list2[-1]):
    print("True")
else:
    print("False")

False

In [28]:
#Given a list of numbers, Iterate it and print only those numbers which are divisible of 5
list3=[10, 20, 33, 46, 55]
for i in list3:
    if i%5==0:
        print(i)
    else:
        pass

10
20
55

In [30]:
#Return the total count of sub-string “Emma” appears in the given string
str2= "Emma is good developer. Emma is a writer"
emma_cnt = str2.count("Emma")
print(emma_cnt)

2

In [48]:
'''
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5'''
for num in range(6):
    for i in range(num):
         print (num, end=" ") 
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [13]:
#Reverse a given number and return true if it is the same as the original number
num2= int(input("Enter number: "))
rev_num=0
org_num=num2
while num2>0:
    div = num2%10
    rev_num=(rev_num*10)+div
    num2=num2//10
if org_num==rev_num:
    print("true")
else:
    print('false')

Enter number:  787

78
7
0
true

In [24]:
#Given a two list of numbers create a new list such that new list should contain only odd numbers from the 
#first list and even numbers from the second list
f_list=  [10, 20, 23, 11, 17]
s_list = [13, 43, 24, 36, 12]
result = []
for i in f_list:
    if i%2!=0:
        result.append(i)
for i in s_list:
    if i%2==0:
        result.append(i)
print(result)

[23, 11, 17, 24, 36, 12]

In [26]:
#Write a code to extract each digit from an integer, in the reverse order
dig = int(input("Enter number="))
while dig>0:
    d= dig%10
    print(d)
    dig=dig//10

Enter number= 6780

0
8
7
6

In [37]:
'''12: Calculate income tax for the given income by adhering to the below rules
Taxable Income	Rate (%)
First $10,000	0
Next $10,000	10
The remaining	20
Expected Output:

For example, suppose that the taxable income is $45000 the income tax payable is

$10000*0% + $10000*10%  + $25000*20% = $6000.'''
income = int(input("Enter your income="))
tax=0
if income>=10000:
    rem1= income-10000
    if rem1>=10000:
        rem2=rem1-10000
        if rem2>0:
            tax = 1000+(rem2*0.2)
    else:
        tax = rem1*0.1
print(tax)

Enter your income= 25000

2000.0

In [57]:
#Print multiplication table form 1 to 10
for i in range (1,11):
    for j in range(1,11):
        print(i*j, end='')
        print('\t\t')
    print('\t\t')

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

In [74]:
'''
* * * * *  
* * * *  
* * *  
* *  
*
'''
for i in range(5,0,-1):
    for j in range(i):
        print('* ',end='')
    print('\t')

* * * * *
* * * *
* * *
* *
*

In [8]:
'''Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

Expected Output:

Case 1:

base = 2
exponent = 5

2 raises to the power of 5 is: 32 i.e. (2 *2 * 2 *2 *2 = 32)'''
def exponent(base, exp):
    prod=1
    while exp>0:
        prod = prod*base
        exp=exp-1
    return prod
check=exponent(5,4)
print(check)

625

In [17]:
'''
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5'''
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [31]:
#Accept number from user and calculate the sum of all number between 1 and given number
#For example user given 10 so the output should be 55
'''num1= int(input("Enter number:"))
s=0
for i in range(1,num1+1):
    s= s+i
    i=+1
print(s)'''

def sum_till_num(num1):
    s=0
    for i in range(1,num1+1):
        s= s+i
        i=+1
    return s
num1= int(input("Enter number:"))
result = print(sum_till_num(num1))

Enter number: 10

55

In [42]:
#Print multiplication table of given number
num2 = int(input("Enter number for table:"))
prod=1
for i in range(1,11):
    prod = num2*i
    print(prod)

Enter number for table: 2

2
4
6
8
10
12
14
16
18
20

In [43]:
'''Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150
stop the loop iteration
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]'''
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if i<=150:
        if i%5==0:
            print(i)
    else:
        break;

15
55
75
150

In [1]:
'''Given a number count the total number of digits in a number
For example, the number is 75869, so the output should be 5.'''
dig1= int(input("Enter number to count:"))
org = dig1
cnt = 0
while dig1>0:
    dig1=dig1//10
    cnt=cnt+1
print(cnt)

Enter number to count:67898
5

In [10]:
'''
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1'''
for i in range(5,0,-1):
    for j in range(0,i):
        print(i, end=' ')
        i=i-1
    print('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [12]:
#Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]
rev = reversed(list1)
for i in rev:
    print(i)

50
40
30
20
10

In [16]:
#Display -10 to -1 using for loop
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [18]:
'''Display a message “Done” after successful execution of for loop
For example, the following loop will execute without any error.

for i in range(5):
    print(i)
So the Expected output should be:

0
1
2
3
4
Done!'''
for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!

In [30]:
#Python program to display all the prime numbers within a range

start = int(input("Enter starting of range:"))
end = int(input("Enter end range:"))
for num in range(start,end+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

Enter starting of range:10
Enter end range:20
11
13
17
19

In [37]:
'''Display Fibonacci series up to 10 terms
Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34'''
first=0
sec = 1
cnt=0
while cnt<10:
    temp = first+sec
    print(first, end=' ')
    first = sec
    sec=temp
    cnt+=1

0 1 1 2 3 5 8 13 21 34

In [50]:
#Reverse a given integer number
num = int(input("Enter number to be reversed:"))
rem = 0
while num>0:
    div = num%10
    rem = (rem*10)+div
    num = num//10
print(rem)

Enter number to be reversed:234689
986432

In [64]:
#Use a loop to display elements from a given list which are present at even positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# for i in my_list:
#     if (my_list.index(i)%2!=0):
#         if my_list.index(i)<=10:
#             print(i)

for i in my_list[1::2]:
    print(i)

20
40
60
80
100

In [5]:
#Write a loop to find the factorial of any number
numb = int(input("Enter a number to find out factorial="))
prod=numb
if numb==0:
    print('factorial = 1')
else:
    while numb>1:
        prod = prod*(numb-1)
        numb=numb-1
    print('factorial = ',prod)

Enter a number to find out factorial=6
factorial =  720

In [7]:
#Display the cube of the number up to a given integer
inte = int(input("Enter a number:"))
prod =1
for i in range(inte+1):
    prod = i*i*i
    print('cube of ',i, '= ',prod)

Enter a number:6
cube of  0 =  0
cube of  1 =  1
cube of  2 =  8
cube of  3 =  27
cube of  4 =  64
cube of  5 =  125
cube of  6 =  216

In [27]:
'''Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
Given:

number_of_terms = 5

So series will become 2 + 22 + 222 + 2222 + 22222

Expected output:

24690'''
term = int(input("Enter term="))
sum=0
tot =sum
while term>0:
    for j in range(term):
        sum = (sum*10)+2
        tot=tot+sum
        term = term-1
print(tot)

Enter term=5
24690

In [38]:
'''* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*'''
plt= int(input("Enter max star count="))
for i in range(plt+1):
    for j in range(i):
        print('*',end=' ')
    print('\t')
for i in range(plt-1,0,-1):
    for j in range(i):
        print('*',end =' ')
    print('\t')

Enter max star count=5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
print('My','name','is','Ankita',sep='o')
print('%.2f'%876.878760)

MyonameoisoAnkita
876.88

In [31]:
#1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
# def facto(num):
#     prod=1
#     for i in range(1,num+1):
#         prod = prod*i
#     return(prod)
# sum=0
# n= int(input("Enter term="))
# for i in range(1,n+1):
#     call_facto = facto(i)
#     sum=sum+(i/call_facto)
#     print(i,sum)

def facto(num):
    prod=1
    res=0
    for i in range(1,num+1):
        prod = prod*i
        res=res+(i/prod)
        print(i,res)
facto(7)

1 1.0
2 2.0
3 2.5
4 2.6666666666666665
5 2.708333333333333
6 2.7166666666666663
7 2.7180555555555554